* {
	padding: 0px;
	margin: 0px;
	font-family:Century Gothic,CenturyGothic,AppleGothic,sans-serif; 
}

.calculadora {
	border: 3px blue ridge; 
	padding: 0px 5px;
	width: 350px;
	text-align: center;
	background-color: #f6f8d8; }

	
.sr {
	padding: 0px 18px 18px 18px;
}

.sr button {
	width: 100%;
	background-color: #48c;
	color: #fff;
	border: none;
	font-size: 50px;
	padding: 0px
	
}

.teclas {
	display: flex;
}

.pantalla {
	padding: 18px 18px 0px 18px;
	 width: 300px; 
	 border: 5px #ececee; 
	 margin-block-start: initial;
	 text-align: right; 
	 position: relative;
	 background-color: white; font-family: "courier new"; 
	 overflow: hidden;
	}

.numeros {
	padding: 18px 9px 18px 18px;
}
.operaciones {
	padding: 18px 18px 18px 9px
}

#resultado {
	background-color: #555;
	color: #eee;
	padding: 9px;
	font-family: monospace;
	font-size: 20px
}

.operaciones button {
	
	width: 54px;
	height: 54px;
	padding: 9px 15px;
	background-color: #000;
	color: #fff;
	border: none;
	display: block;
}

.extras button {
	display: block;
	width: 54px;
	height: 54px;
	padding: 9px 15px;
	background-color:orange;
	color: #fff;
	border: none;
}


.numeros div{
    text-align: center;
}

.numeros button {
	border: 0px;
	background-color: #fff;
	transition: all 0.09s
}

.numeros button:hover {
	box-shadow: 0px 0px 12px #aaa;
}

button {
	margin: 2px 0px;
	padding: 15px 24px;
	font-size: 19px;
}

